@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #ffffff;
  --card-color: #f5f4f4ae;
  --text-main: #676767;
  --text-secondary: #9ca3af;
  --text-accent: #64748b;
  --nav-color: #fff;
  --highlight-color: #a4bfed;
  --highlight-text: #587bc5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #030014;
    --card-color: #1e293b;
    --text-main: #e5e7eb;
    --text-secondary: #d1d5db;
    --text-accent: #94a3b8;
    --nav-color: #302c2c;
    --highlight-color: #3b5795;
    --highlight-text: #7398e6;
  }
}